//---------------------------
//
// Social-icons
//
//---------------------------

.social-icons {
  a:before {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    content: "\f415";

    font-family: Genericons;
    font-size: $font-size__medium;
    font-weight: $font-weight__light;
    line-height: $line-height__medium;
    text-decoration: inherit;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a[href*="codepen.io"]:before {
    content: "\f216";
  }

  a[href*="digg.com"]:before {
    content: "\f221";
  }

  a[href*="dribbble.com"]:before {
    content: "\f201";
  }

  a[href*="dropbox.com"]:before {
    content: "\f225";
  }

  a[href*="mailto:"]:before {
    content: "\f410";
  }

  a[href*="facebook.com"]:before {
    content: "\f203";
  }

  a[href*="flickr.com"]:before {
    content: "\f211";
  }

  a[href*="foursquare.com"]:before {
    content: "\f226";
  }

  a[href*="github.com"]:before {
    content: "\f200";
  }

  a[href*="plus.google.com"]:before {
    content: "\f206";
  }

  a[href*="instagram.com"]:before {
    content: "\f215";
  }

  a[href*="linkedin.com"]:before {
    content: "\f208";
  }

  a[href*="path.com"]:before {
    content: "\f219";
  }

  a[href*="pinterest.com"]:before {
    content: "\f210";
  }

  a[href*="polldaddy.com"]:before {
    content: "\f217";
  }

  a[href*="reddit.com"]:before {
    content: "\f222";
  }

  a[href$="/feed/"]:before {
    content: "\f413";
  }

  a[href*="spotify.com"]:before {
    content: "\f515";
  }

  a[href*="stumbleupon.com"]:before {
    content: "\f223";
  }

  a[href*="tumblr.com"]:before {
    content: "\f214";
  }

  a[href*="twitch.tv"]:before {
    content: "\f516";
  }

  a[href*="twitter.com"]:before {
    content: "\f202";
  }

  a[href*="vimeo.com"]:before {
    content: "\f212";
  }

  a[href*="vine.co"]:before {
    content: "\f517";
  }

  a[href*="wordpress.com"]:before,
  a[href*="wordpress.org"]:before {
    content: "\f205";
  }

  a[href*="youtube.com"]:before {
    content: "\f213";
  }
}