//---------------------------
//
// Post Card
//
//---------------------------

$post-title-hover-color: #a60505;
$post-card-border-color: $border-color--darker;

.post-card {
  margin-bottom: $line-height__medium;
  padding-bottom: $line-height__medium;
  border-bottom: 1px dotted $post-card-border-color;

  // Add vertical dotted border in large screens
  // In the home template we select (3n+4) element
  // In all different pages we select every (3n+2) element inside post list
  // In the related posts section we select the middle element

  @media #{$large-up} {
    .post-list .post-card-wrap:nth-child(3n+2) &,
    .index .post-card-wrap:nth-child(3n+4) &,
    .related-posts .post-card-wrap:nth-child(3n+3) & {
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: double($line-height__base);
        width: 1px;
        background: linear-gradient(45deg, $post-card-border-color 25%, transparent 25%),
        linear-gradient(-45deg, $post-card-border-color 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, $post-card-border-color 75%),
        linear-gradient(-45deg, transparent 75%, $post-card-border-color 75%);
        background-size: 2px 2px;
        background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
      }

      &:before { left: -0.5px; }
      &:after { right: -0.5px; }
    }

    // Remove the right border from home page every (3n+2) item
    .index .post-card-wrap:nth-child(3n+2) & {
      &:after { background: none; }
    }

    // Remove the left border from the related posts first item
    .related-posts .post-card-wrap:nth-child(2) & {
      &:before { background: none; }
    }
  }

  &__header {
    margin-bottom: half($line-height__base);
  }

  &__image {
    margin-bottom: half($line-height__base);
    transition: $base-transition-speed;

    @media #{$medium-down} {
      margin-bottom: half($line-height__medium);
    }
  }

  &__title {
    font-size: $font-size__medium;
    font-family: $font__serif;
    line-height: $line-height__medium;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;

    a {
      display: block;
      border-bottom: none;
      transition: $base-transition-speed;

      &:hover { color: $post-title-hover-color; }
    }

    @media #{$large-up} {
      &--big {
        font-size: $font-size__base;
        line-height: $line-height__base;
      }
    }
  }

  &__meta {
    margin-bottom: quarter($line-height__base);
    font-size: $font-size__tiny;
    line-height: $line-height__small;
    color: $color__type--hover;

    a { color: $color__type--hover; text-decoration: none; }

    &__date { display: inline-block; }
  }

  &:hover {
    .post-card__image {
      opacity: 0.9;
    }

    .post-card__title a { color: $post-title-hover-color; }
  }

  &--featured__icon {
    display: none;
    position: absolute;
    bottom: quarter($line-height__base);
    left: quarter($line-height__base);
    fill: #fff;

    .sticky & { display: block; }
  }

  @media #{$large-up} {
    margin-bottom: $line-height__base;
    padding-bottom: $line-height__base;
  }
}

// Change the style of the First Post in home page

[data-class="post--first"] {

  &:before,
  &:after {
    display: table;
    clear: both;
    content: " ";
  }

  width: 100%;
  padding: 0;

  .post-card {
    position: relative;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: $line-height__base;

    &__image {
      margin-bottom: 0;

      &:after {
        transition: $base-transition-speed;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &__info {
      display: table;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      max-width: $row-max-width;
      width: 100%;
      margin-top: $line-height__medium;
      padding-left: $line-height__medium;
      padding-right: $line-height__medium;

      @media #{$large-up} {
        margin-top: $line-height__base;
        padding-left: $line-height__base;
        padding-right: $line-height__base;
      }
    }

    &__title {
      font-size: $font-size__base;
      line-height: $line-height__base;

      a { color: #fff; }

      @media #{$medium-up} {
        font-size: double($font-size__medium);
        line-height: double($line-height__medium);

        a { max-width: 80%; }
      }

      @media #{$large-up} {
        font-size: double($font-size__base);

        a { max-width: 70%; }
      }
    }

    &__meta {
      color: #fff;
      display: table-footer-group;

      a { color: #fff; }
    }

    &--featured__icon {
      display: none;
      z-index: 100;
      bottom: half($line-height__base);
      left: half($line-height__base);
    }

    &:hover {
      .post-card__image {
        opacity: 1;

        &:after { background-color: rgba(0, 0, 0, 0.2); }
      }

      .post-card__title a { color: #fff; }
    }
  }

  // Show the sticky icon on medium up up screens
  @media #{$medium-up} {
    &.sticky .post-card--featured__icon { display: block; }
  }
}

// Post Card with Outline border and center title

.post-card--has-outline {
  position: relative;
  padding-bottom: 0;
  border-bottom: 0;

  .post-card {
    &__info {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      z-index: 100;
      padding: $line-height__medium;
      text-align: center;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    &__image {
      position: relative;
      z-index: 100;
      margin-bottom: 0;
      outline: 2px solid rgba(255, 255, 255, 0.4);
      outline-offset: -$line-height__base / 3;

      &:after {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.4);
      }
    }

    &__title {
      font-size: $font-size__medium;
      line-height: $line-height__medium;
      color: #fff;

      a {
        color: #fff;
        &:hover { color: #000; }
      }
    }

    &__meta {
      position: relative;
      margin-bottom: 0;
      margin-top: quarter($line-height__medium);
      color: #fff;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 1px;
        width: $line-height__medium;
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
      }

      &:after {
        top: -1px;
        width: half($line-height__medium);
      }
    }
  } // .post-card

  &:hover {
    .post-card__image {
      outline: 2px solid rgba(255, 255, 255, 0.8);
    }

    .post-card__title a { color: #fff; }
  }
}

// Make post cards the same height

.post-list {
  display: flex;
  flex-wrap: wrap;

  // Safari (iPad)
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;

  .post-card-wrap {
    display: flex;

    // Safari (iPad)
    display: -webkit-flex;
  }

  .post-card {
    width: 100%;
  }
}