//---------------------------
// Colors
//---------------------------

$color__type: #222222;
$color__type--hover: #7E7E7E;

$body-color: #333;
$grey-bg: #FAFAFA;
$grey-bg--darker: #ECF0F1;
$border-color: #ECF0F1;
$border-color--darker: #DADFE1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;

$input-border-color: #7B8994;
$input-border-color--focus: $color__type--hover;