//---------------------------
//
// Forms
//
//---------------------------

input[type='text'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='number'],
input[type='email'],
textarea,
select {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  display: block;
  border: 1px solid $input-border-color;
  padding: quarter($line-height__small) half($line-height__small);

  font-family: $font__serif;
  font-size: $font-size__small;
  line-height: $line-height__medium;
  letter-spacing: 1px;

  outline: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  transition: $base-transition-speed;

  @media #{$large-up} {
    padding: quarter($line-height__base) half($line-height__base);
  }

  &:focus {
    border: 1px solid $color__type--hover;
  }

  .comment-form & {
    border-color: $border-color;

    &:focus {
    border-color: $color__type--hover;
    }
  }
}

select {
  background-image: url(images/icon-form-dropdown.svg);
  background-size: 7px 14px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: $line-height__medium;
  border-radius: 0;
  appearance: none;
}