//---------------------------
// Modal Search
//---------------------------

.toggle-search-button {
  cursor: pointer;
  margin-left: quarter($line-height__base);
  margin-right: auto;

  &__icon {
    color: #fff;
    font-size: $font-size__base;
    vertical-align: middle;
    transition: $base-transition-speed;

    @media #{$medium-down} {
      color: $color__type;

      &:hover { color: $color__type--hover; }
    }
  }

  .no-header-cover & {
    &__icon {
      color: $color__type;

      &:hover { color: $color__type--hover; }
    }
  }
}

.modal-search-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;

  white-space: nowrap;
  background: rgba(255, 255, 255, 0.99);
  opacity: 0;
  visibility: hidden;

  transition: all $base-transition-speed ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);

  &__close {
    position: absolute;
    top: $line-height__base;
    right: $line-height__base;
    cursor: pointer;
    transition: $base-transition-speed;
    fill: $color__type;

    &:hover {
      fill: $color__type--hover;
      transform: rotate(90deg);
    }

    @media #{$medium-down} {
      top: half($line-height__base);
      right: half($line-height__base);
    }
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px) scale(1, 1);
  }
}

.modal-search {
  margin: double($line-height__base) 0 0;
}